/LOMS/.idea/LOMS.iml
/LOMS/.idea/misc.xml
/LOMS/.idea/modules.xml
/LOMS/.idea/workspace.xml
/.idea/LegendOfMountainSea.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/npm-debug.log
/.idea
/LOMS/pixi docs-4.5.6.lnk
/LOMS/.idea
/LOMS/nwjs-v0.27.0-win-x64
